


/* SOCIAL PANEL CSS */
.social-panel-container-Мusic {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container-Мusic.visible {
	transform: translateX(-10px);
}

.social-panel-Мusic {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #14c0a9be;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;

	height: 300px;	
	width: 570px;
	
	max-width: calc(100% - 10px);
}

.social-panel-Мusic p {
	background-color: #16ad99;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.music {
	border-radius: 26.5px;
	background-color: #14c0a9;
	border: 1px solid #24e4ca;
	box-shadow: 0 16px 22px -17px #24e4ca;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 150px;
	z-index: 999;
}

